.card-body {
    background-color: #f7f7f7;
}

.card-test{
    font-size: 15px;
}

.card-text{
    font-size: 15px;
    font-weight: bold;
}

.card-title{
    font-family:'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bold;
}
